{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    {% for product in products %}
        <div class="card" style="width: 18rem; display: inline-block">
            <img class="card-img-top" width="250px" height="250px" style="object-fit: contain"
                 src="{{ product.image.url }}"
                 alt="Card image cap">
            <div class="card-body text-center">
                <a class="card-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            </div>
        </div>

    {% endfor %}
{% endblock content %}