{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{ product.name }}
{% endblock title %}
{% block content %}
    <div class="card text-center mx-auto" style="width: 18rem;">
        {% thumbnail product.image "300x300" as img %}
            <img src="{{ img.url }}" class="card-img-top" alt="...">
        {% endthumbnail %}
        <small>{{ product.created }}</small>
        <div class="card-header">{{ product.name }}</div>
        <div class="card-body">
            <p class="card-text">{{ product.description }}</p>
        </div>
        <div class="card-footer bg-primary">
            {{ product.price }}$
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-secondary" value="add to cart"></form>
        </div>
    </div>
{% endblock content %}
